body{
    color: azure;
}
.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .row { display: inline-block; }
  /* start commented backslash hack \*/
  * html .row { height: 1%; }
  .row { display: block; }
  /* close commented backslash hack */
.header{
    margin-bottom: 10px;
    padding-right: 70px;
    padding-left: 70px;
}

.inner-header{
    background-color: rgb(224, 143, 68);
    height: 200px;
}
   
.sidebar-1{
    width: 15%;
    float: left;
    padding-right: 10px;
    padding-left: 70px;
}
.inner-sidebar-1{
    background-color: rgb(224, 68, 68);
    min-height: 500px;
}
.sidebar-2{
    width: 15%;
    float: left;
    padding-left: 10px;
}

.content{
    width: 72.5%;
    float: left;
}
.inner-content{
    background-color: rgb(224, 68, 211);
    min-height: 480px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer{
   margin-top: 10px;
   padding-right: 70px;
   padding-left: 70px;
}
.inner-footer{
    background-color: rgb(86, 224, 68);
    height: 200px;
}